[Unit]
Description= Lancement automatique de la reconnaissance de personne

[Service]
ExecStart=/home/mendel/Drone_Surveillance/Module_IA/reco.sh
Restart=always
User=mendel

[Install]
WantedBy=multi-user.target
